<html>
    <p>interface.num_cores: {{ interface_num_cores }}</p>
    <p>interfaces.num_users: {{interfaces_num_users}}</p>
    <p>interfaces.server_interfaces: {{ interfaces_server_interfaces }}</p>
    <p>interfaces.client_interfaces: {{ interfaces_client_interfaces }}</p>

</html>
